.todos-filter{
	font-family: Arial;
    color: #888888;
    font-size: 10pt;
	position:relative;
	background-color: #fff;
	border-style:none;
	outline:none;
	cursor:pointer;
}
.todos-action-bar_clear-completed{
	font-family: Arial;
    color: #888888;
    font-size: 10pt;
	background-color: #fff;
	border-style:none;
	position:absolute;
	right:0px;
	outline:none;
	cursor:pointer;
	padding-right:10px;
}
.todos-filter.__active{
	border: 1px solid #e6e6e6;
	border-radius: 2px;
}
.todo-item_remove{
	background-color: rgba(255,255,255,0);
	border-style:none;
	position:absolute;
	width:18px;
	height:18px;
	float:left;
	right:10px;
	top:50%;
	margin-top:-9px;
	background-image: url(../../img/close.png);
	outline:none;
	cursor:pointer;
}
.todo-add_select-all{
	background-color: #fff;
	border-style:none;
	position:absolute;
	width:24px;
	height:12px;
	left:18px;
	background-image: url(../../img/select-all.png);
	top:50%;
	margin-top:-6px;
	outline:none;
	cursor:pointer;
}
