body{
	background-image: url(Layer.png);
}
.todos-header{
	text-align:center;
}
.todos-title{
	font-family: HelveticaNeue-UltraLight, Helvetica, sans-serif;
    font-size: 65pt;
	color: rgba(175, 47, 47, 0.149);
	margin:0px;
}
.todos-main{
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
  position: relative;
  left: 50%;
  width: 560px;
  min-height: 360px;
  margin-left:-280px;
  z-index:3;
}
/*Элементы добавления
########################################################
*/
.todos-add{
	position:relative;
	min-height:60px;
	border-bottom: 1px solid #e6e6e6;
}
.todo-add_select-all{
	background-color: #fff;
	border-style:none;
	position:absolute;
	width:24px;
	height:12px;
	left:18px;
	background-image: url(select-all.png);
	top:50%;
	margin-top:-6px;
	outline:none;
	cursor:pointer;
}
.todo-add_input {
  font-family: HelveticaNeue-LightItalic, Helvetica, sans-serif;
  font-size: 14pt;
  position:absolute;
  background-color: rgb(255, 255, 255);
  width: 472px;
  border-style:none;
  left:60px;
  top:21px;
  outline:none;
}
/*
########################################################
*/


/*Элементы из item list
########################################################
*/
.todos-list{
	min-height:284px;
}
.todo-item{
	font-family: HelveticaNeue-Light, Helvetica, sans-serif;
	position:relative;
	min-height:40px;
	border-bottom: 1px solid #e6e6e6;
}
.todo-item_text{
    word-break: break-all;
    outline: none;
	padding: 21px 60px;
}
.todo-item_remove{
	background-color: rgba(255,255,255,0);
	border-style:none;
	position:absolute;
	width:18px;
	height:18px;
	float:left;
	right:10px;
	top:50%;
	margin-top:-9px;
	background-image: url(close.png);
	outline:none;
	cursor:pointer;
}
input[type="checkbox"]{
    display:none;            
}
.__ready{
	color:#ccc;
	text-decoration:line-through;
}
.todo-item_ready-mark  + label{
  border-style: solid;
  border-width: 1px;
  border-color: rgb(230, 230, 230);
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  top:50%;
  margin-top:-19px;
  width: 38px;
  height: 38px;
  position:absolute;
  left:10px;
  float:left;
  cursor:pointer;
}
.todo-item_ready-mark:not(checked) + label:after {
  content: '';
  position: absolute;
  left: -2000px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-image: url(completed.png)

}
.todo-item_ready-mark:checked + label:after {
  left:50%;
  margin-left:-10px;
  top:50%;
  margin-top:-10px;
}
.todo-item:hover{
	background-color: rgb(250,250,250);
}
/*
########################################################
*/


/*Элементы action barА
########################################################
*/
.todos-actions-bar{
	font-family: HelveticaNeue-Light, Helvetica, sans-serif;
    color: #888888;
    font-size: 10pt;
	position:relative;
	width:540px;
	bottom:0px;
	padding:10px;
	text-align:center;
	border-top: 1px solid #e6e6e6;
	
}
.todos-action-bar_counter{
	position:absolute;
	left:10px;
}
.todos-filter{
	font-family: HelveticaNeue-Light, Helvetica, sans-serif;
    color: #888888;
    font-size: 10pt;
	position:relative;
	background-color: #fff;
	border-style:none;
	outline:none;
	cursor:pointer;
}
.todos-action-bar_clear-completed{
	font-family: HelveticaNeue-Light, Helvetica, sans-serif;
    color: #888888;
    font-size: 10pt;
	background-color: #fff;
	border-style:none;
	position:absolute;
	right:0px;
	outline:none;
	cursor:pointer;
	padding-right:10px;
}
.todos-filter.__active{
	border: 1px solid #e6e6e6;
	border-radius: 2px;
}
/*##################################################################*/

/*footer
####################################################################*/
.todos-footer_first{
	box-shadow:0 2px 5px 0 rgba(0, 0, 0, 0.2);
	left:50%;
	position:relative;
	margin-left:-277px;
	background-color:#fff;
	width:554px;
	height:5px;
	z-index:2;
}
.todos-footer_second{
	box-shadow:0 2px 5px 0 rgba(0, 0, 0, 0.2);
	position:relative;
	background-color:#fff;
	left:50%;
	margin-left:-274px;
	width:548px;
	height:5px;
	z-index:1;
}
/*##################################################################*/
