@import "../../config/globals.scss";

.todos-filter{
	font-family: $font-non-standart,$font-standart;
    color: $c-custom-gray;
    font-size: $fs-xx-small;
	position:relative;
	background-color: #fff;
	border-style:none;
	outline:none;
	cursor:pointer;
}
.todos-action-bar_clear-completed{
	font-family: $font-non-standart,$font-standart;
    color: $c-custom-gray;
    font-size: $fs-xx-small;
	background-color: #fff;
	border-style:none;
	position:absolute;
	right:0px;
	outline:none;
	cursor:pointer;
	padding-right:10px;
}
.todos-filter.__active{
	border: 1px solid $c-border;
	border-radius: 2px;
}
.todo-item_remove{
	background-color: rgba(255,255,255,0);
	border-style:none;
	position:absolute;
	width:18px;
	height:18px;
	float:left;
	right:10px;
	top:50%;
	margin-top:-9px;
	background-image: url(../../../images/close.png);
	outline:none;
	cursor:pointer;
	display: none;
}
.todo-add_select-all{
	background-color: #fff;
	border-style:none;
	position:absolute;
	width:24px;
	height:12px;
	left:18px;
	background-image: url(../../../images/select-all.png);
	top:50%;
	margin-top:-6px;
	outline:none;
	cursor:pointer;
}
