@import "../../config/globals.scss";

.todos-add{
	position:relative;
	min-height:60px;
	border-bottom: 1px solid $c-border;
}
.todo-add_input {
  font-family: $font-standart;
  font-size: $fs-little;
  position:absolute;
  background-color: rgb(255, 255, 255);
  width: 472px;
  border-style:none;
  left:60px;
  top:21px;
  outline:none;
}