@import "../../config/globals.scss";

body{
	background-image: url(../../../images/Layer.png);
}
.todos-header{
	text-align:center;
}
.todos-title{
	font-family: $font-non-standart,$font-standart;
    font-size: $fs-custom;
	color: rgba(175, 47, 47, 0.149);
	margin:0px;
}
.todos-main{
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
  position: relative;
  left: 50%;
  width: 560px;
  min-height: 360px;
  margin-left:-280px;
  z-index:3;
}
.todos-footer_first{
	box-shadow:0 2px 5px 0 rgba(0, 0, 0, 0.2);
	left:50%;
	position:relative;
	margin-left:-277px;
	background-color:#fff;
	width:554px;
	height:5px;
	z-index:2;
}
.todos-footer_second{
	box-shadow:0 2px 5px 0 rgba(0, 0, 0, 0.2);
	position:relative;
	background-color:#fff;
	left:50%;
	margin-left:-274px;
	width:548px;
	height:5px;
	z-index:1;
}