@import "../../config/globals.scss";

.todos-actions-bar{
	font-family: $font-standart;
    color: $c-custom-gray;
    font-size: $fs-xx-small;
	position:relative;
	bottom:0px;
	padding: $offset*2.5;
	text-align:center;
	border-top: 1px solid $c-border;
	
}
.todos-action-bar_counter{
	position:relative;
	float:left;
}